<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.chromaspace.SourceExchangeBroker</string>
  <key>ProgramArguments</key>
  <array>
    <string>__CHROMASPACE_SOURCE_EXCHANGE_BROKER_EXECUTABLE__</string>
  </array>
  <key>MachServices</key>
  <dict>
    <key>com.chromaspace.SourceExchangeBroker</key>
    <true/>
    <key>com.chromaspace.SourceExchangeBootstrap</key>
    <true/>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>5</integer>
</dict>
</plist>
